:root {
    --primary-color:#1c8591;
  }
  
  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
  
  body {
      color: #1c8591;
      font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
      background-color: rgb(229, 232, 238);
    }
  
  /* header styles*/
  header {
      padding: 20px 35px;
      background-color: #0a2527;
      display:flex;
      justify-content: space-between;
      flex-wrap: wrap;
     
    }
 
    header h1 {
        font-weight: bold;
        font-size: 36px;
        color: var(--primary-color);
        margin: 0;
      }
    
    header nav {
        margin: 7px 0;
      }
    
    header nav ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      list-style: none;
      }
    
    header nav ul li a {
        margin: 0 30px;
        font-weight: lighter;
        font-size: 1.3vw;
        color: var(--primary-color);
        text-decoration: none;
        border-bottom: 2px solid;
        padding-bottom: 2px;
      }
      
    section {
        padding :10px;
    }
  
/*apply style to caption image*/
.caption{
    height: 400px;
    background-image: url("I2fII8e.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    position: relative;
  }
