:root {
    --primary-color:#1c8591;
  }
  
  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
  
  body {
      color: #1c8591;
      font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
      background-color: rgb(229, 232, 238);
    }
  
  /* header styles*/
  header {
      padding: 20px 35px;
      background-color: #0a2527;
      display:flex;
      justify-content: space-between;
      flex-wrap: wrap;
     
    }
