body {
    background-color: lightblue;
    margin: 0;
    padding: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: ;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color:black;
    color:white;
  }

  header, main, footer{
	width: 100%;
}

  .name-highlight {
      color: teal;
      font-style: italic;
  }

  h1 {
    color: white;
    margin-left: 0px;
  }
  p{
    text-align: justify;
}
  nav {
      color: white;
      text-align: right;
      padding-bottom: 50px;
      padding-top: 20px;
    
  }
  nav a{
    text-decoration: none;
    padding: 10px 20px;
    text-transform:uppercase;
    color: lightblue;
    font-weight: 600;
    text-align: right;
  }

  nav:hover {
      color: violet;
      border-bottom: 2px solid #363958
  }

  body{
	padding: 0;
	margin: 0;
	background-color: lightblue;

}

.boxes {
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
  }

footer ul li img{
	width: 20px;
	vertical-align: middle;
	margin: 4px;
}
footer a{
	color: black;
	font-style: italic;
	font-family: sans-serif;
}
